<div class="chat">
	<div class="board page" style="width: {{boardWidth}}px;">
		<pin ng-repeat="pin in pins" />
	</div>
	<div class="room page" ng-show="{{isLogin}}">
		<div scroll-glue class="chatArea" style="height: {{chatAreaHeight}}px;">
			<ul class="messages">
				<message ng-repeat="message in messages"/>
			</ul>
		</div>
		<div class="inputArea">
			<input ng-model="newMessage" ng-keypress="keyMessage($event)" class="inputMessage" placeholder="I want to say ..." />
		<div>
	</div>
</div>