/*=================================easydb top=================================*/
.ng-scope.platform .warnHint{
  width: 400px;
  height: 200px;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: rgba(0,0,0,0.7);
  border: 5px solid rgba(0,0,0,0.6);
}

.ng-scope.platform .warnHint button{
  position: relative;
  top: 30px;
  left: 45px;
  margin: 0px 30px;
}

.ng-scope.platform .warnHint h3{
  margin: 0px;
  padding: 10px 0px;
  background-color: rgba(211, 24, 44, 0.9);
}

.ng-scope.platform .warnHint h4{
  margin-top: 30px;
}

.ng-scope.platform .warnHint strong{
  font-size: 24px;
  color: #FFD600;
}

.ng-scope.platform .easydb_container .table_clicked{
  color: yellow;
}

.ng-scope.platform .easydb_container .tile{
  margin: 0;
}

.ng-scope.platform .easydb_container .sql_command span{
  font-size: 16px;
}

.ng-scope.platform .easydb_container .sql_input{
  font-size: 14px;
  margin: 10px 0px; 
  padding-left: 5px;
  width: 80%;
}

.ng-scope.platform .easydb_container .sql_keyword{
  top: 40px;
  left: 110px;
} 

.ng-scope.platform .easydb_container .sql_manipulate{
  margin-bottom: 10px;
}

.ng-scope.platform .easydb_container .sql_manipulate .sql_operation{
  position: static;
  background-color: rgba(0,0,0,0.3);
  margin-right: 20px;
}

.ng-scope.platform .easydb_container .sql_manipulate .sql_operation a{
  background-size: 23px 23px;
  margin: 10px;
}

.ng-scope.platform .easydb_container .table_list h3{
  font-weight: bold;
}

.ng-scope.platform .easydb_container .table_list ul{
  padding: 0;
}

.ng-scope.platform .easydb_container .table_list li{
  margin: 10px 0px;
  font-size: 16px;
  padding-left: 40px;
  /*text-align: 40%;*/
  cursor: pointer;
  float: left;
  width: 100%;
}

.ng-scope.platform .easydb_container .table_list li:hover{
  border: 1px solid rgba(256,256,256,0.5);
}

.ng-scope.platform .easydb_container .sql_keyword div{
  margin: 9px 0px;
  cursor: default;
}

.ng-scope.platform .easydb_container .table_content{
  position: relative;
}

.ng-scope.platform .easydb_container > .col-md-2{
  min-height: 590px;
}

.ng-scope.platform .easydb_container > .col-md-9{
  margin-left: 20px;
}

.ng-scope.platform .easydb_container .json_text{
  background-color: rgba(0,0,0,0);
}

.ng-scope.platform .easydb_container .json_text pre{
  background-color: rgba(0,0,0,0);
  color: rgba(256,256,256,1);
  border: none;
}

.ng-scope.platform .easydb_container .close_json{
  width: 20px;
  height: 20px;
  float: right;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid red;
  text-align: center;
  line-height: 100%;
  background-color: rgba(215, 40, 40, 0.9);
}

.ng-scope.platform .app_search,.ng-scope.platform .sql_input,.ng-scope.platform .api_search{
  width: 100%;
  margin: 12px;
  border: 1px solid rgba(256,256,256,0.5);
  background-color: transparent;
}

@media screen and (max-width: 1520px){
  .ng-scope.platform .easydb_container .sql_manipulate .sql_operation a{
    margin: 10px 7px;
  }  
}

@media screen and (max-width: 1410px){
  .ng-scope.platform .easydb_container > .col-md-9{
     margin-left: 40px;
  }

}

/*=================================easydb bottom=================================*/