<div class="platform" ng-controller="easyDBCtrl">
	<div class="container-fluid  clearfix">
		<div class="content">
			<div class="title">
				<h1>Easy DB</h1>
			</div>
			<div class="easydb_container">
				<div class="col-md-2">
					<aside class="table_list">
						<h3>Table List</h3>
						<ul>
							<li  ng-click="table_click(table, 15,1)" ng-repeat="table in tables">
								<a ng-class="{'table_clicked': default_view_table == table}">{{table}}</a>
							</li>
						</ul>
					</aside>
				</div>
				<div class="col-md-9">
					<div class="sql_manipulate clearfix">
						<div class="col-md-2 sql_operation">
							<a tooltip="Create Table" class="sa-list-add"></a>
							<a tooltip="Delete Table" class="sa-list-delete" ng-click="del_warn()"></a>
							<a tooltip="Edit Schema" class="sa-list-edit"></a>
						</div>
						<div class="sql_command col-md-8">
							<span class="text-center">SQL Command: </span>
							<input type="text" class="sql_input " ng-model="command_sample" ng-mousedown="sample_list()" ng-blur="close_sample_list(command_sample)" ng-enter="findData()">
						</div>
						<div class="sql_keyword col-md-7 col-md-offset-2" ng-show="show_sample" ng-mouseenter="cant_close = true" ng-mouseleave="cant_close = false">
							<div ng-repeat="w in keyword | filter:command_sample">
								<a ng-click="sql_keyword_clicked(w.name)">{{w.name}}</a>
							</div>
						</div>
						<div class="sql_result"></div>
					</div>	
					<div class="page_wrapper">
						<div class="page_block">
							<div class="indiv_page_block" ng-repeat="p in total_pages track by $index">
								<a ng-click="show_table(default_view_table, 15, $index+1)">{{$index+1}}</a>
							</div>
						</div>
					</div>				
					<div class="table_content table-responsive">
						<table class="table db_table tile table-bordered">
							<tr>
								<th ng-repeat="(key,value) in t_head">
									{{key}}
								</th>
								<th></th>
							</tr>
							<tr ng-repeat="r in t_d" class="table_row" id="{{r._id}}">
								<td ng-repeat="(key, value) in r">
									<span ng-hide=" value =='json file'">{{value}}</span>
									<a href="" ng-show= " value =='json file'" ng-click="show_json_file(r._id, key, default_view_table)" ng-class="{'table_clicked': t_json == r._id+key}">{{value}} </a>
								</td>
								<td>
									<button class="btn btn-alt btn-block" ng-click="del_t_row(r)">Delete</button>
								</td>
							</tr>
							<tr ng-show="is_show" class="json_text"><td colspan="{{colspan}}"><pre>{{show_json | json}}</pre></td></tr>
						</table>				
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="warn_hint" class="warnHint">
		<h3 class="text-center">Waring</h3>
		<h4 class="text-center">
			You are deleting <strong>{{warning_text}} </strong>table
		</h4>
		<button class="btn btn-alt btn-lg btn-del" ng-click="del_table()">Delete</button>
		<button class="btn btn-alt btn-lg btn-ca" ng-click="close_warn_hint()">Cancel</button>			
	</div>
</div>