<div class="platform">
	<div class="header">
		<div class="brand">Simple</div>
		<div class="nav">
			<ul>
				<li ng-repeat="nav in navs" ng-class="{'currentPage':nav.page == '外部資料授權'}"><a href="#">{{nav.page}}</a></li>
			</ul>
		</div>
	</div>
	<div class="container clearfix">
		<div class="resource" ng-repeat="resource in resources" ng-class="{'on': resource.isActive}" ng-click="resource.isActive = !resource.isActive">
			<div class="logo"></div>
			<div class="name">{{resource.name}}</div>

		</div>		
	</div>
</div>
<script src="ngDialog.min.js"></script>