<div class="platform">
	<div class="navbar navbar-static-top navbar-inverse header" role="navigation ">
		<div class="navbar-header">
			<div class="navbar-brand brand">SIMPLE</div>
		</div>
<!-- 			<ul>
			<li ng-repeat="nav in navs" ng-class="{'currentPage':nav.page == '外部資料授權'}"><a href="#">{{nav.page}}</a></li>
		</ul> -->
	</div>
	<div class=".container-fluid content clearfix">
		<div class="sidebar col-md-2 SN_website">
			<ul>
				<li ng-controller="submenuCollapseCtrl" ng-repeat="menu in sidebar"><div ng-click="isCollapsed =!isCollapsed" ng-class="{'currentItem':menu.page == '外部資料授權'}" >{{menu.page}}</div>
					<ul  collapse="isCollapsed">
						<li ng-repeat="submenu in menu.submenu"><div>{{submenu.name}}</div></li>
					</ul>
				</li>
			</ul>
<!-- 			<ul>
				<li ng-repeat="resource in resources" ng-click="auth_name(resource.name)" ng-website = "website">{{resource.name}}</li>
			</ul> -->
		</div>
		<div class="col-md-10 authorization">
			
		</div>
<!-- 		<div class="" ng-repeat="resource in resources" ng-class="{'on': resource.isActive}" ng-click="resource.isActive = !resource.isActive">
			<div class="logo"></div>
			<div class="name">{{resource.name}}</div>

		</div>		 -->
	</div>
</div>