<div class="platform">
<!-- 	<div class="navbar navbar-static-top navbar-inverse header" role="navigation ">
		<div class="navbar-header">
			<div class="navbar-brand brand">SIMPLE</div>
		</div>
	</div> -->
	<div class="container-fluid  clearfix">
<!-- 		<div class="sidebar col-md-2 SN_website">
			<ul>
				<li ng-controller="submenuCollapseCtrl" ng-repeat="menu in sidebar"><div ng-click="isCollapsed =!isCollapsed" ng-class="{'currentItem':menu.page == '外部資料授權'}" >{{menu.page}}</div>
					<ul  collapse="isCollapsed">
						<li ng-repeat="submenu in menu.submenu"><div>{{submenu.name}}</div></li>
					</ul>
				</li>
			</ul>
		</div> -->
		<div class="content">
			<div class="title">
				<h1>授權網站</h1>
			</div>	
			<div class="resource" ng-repeat="resource in resources" ng-class="{'on': resource.isActive, 'resource.logo': true, }" ng-click="openDialog(resource.name)">
				<div class="logo" ng-class="resource.name">	
				</div>
				<h2 class="name">{{resource.name}}</h2>							
			</div>
		</div>
	</div>
</div>

<script type="text/ng-template" id="fb_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>

	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>
			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script> 

<script type="text/ng-template" id="GooglePlus_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>

	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>
			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script>

<script type="text/ng-template" id="NikePlus_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>

	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>

			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script>

<script type="text/ng-template" id="RunKeeper_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>


	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>
			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script>

<script type="text/ng-template" id="Fitbit_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>

	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>
			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script>

<script type="text/ng-template" id="Jawbone_login_permission">
	<div class="auth_info clearfix" >

		<!-- //沒有授權要求 -->
		<p class="user_auth no_req" ng-show="auth_array.length == 0">
			There is no permission requests!
		</p>

		<!-- //授權要求清單 -->
		<div ng-hide="auth_array.length == 0">
			<p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
			<!--// <li class="auth_req" ng-repeat="list in auth_array"> {{list}}</li>-->
		</div>
	</div>

	<div class="allPermission" >
		<ul class="auth_option clearfix">
			<li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth.name)" ng-mousedown="auth.click = !auth.click" ng-class="{'auth_req': auth.click}">{{auth.name}}</li>
			<!-- // <button ng-click="add_auth(per)" ng-disabled="per.selected">add</button>	
			// <button ng-click="remove_auth(per)" ng-disabled="!per.selected">remove</button>		--!>		
		</ul>
	</div>	
</script>