html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #333;
}

div.ng-scope {
	/*
	width: 100%;
	height: 100%;
	display: block;
	*/
}

div[ng-view] {
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}