@import url("../widgets/summary/style.css");
@import url("../widgets/map/style.css");
@import url("../widgets/chat/style.css");
@import url("../widgets/media/style.css");
@import url("../widgets/platform/style.css");
@import url("../widgets/artmatch/style.css");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #333;
}

div.ng-scope {
	/*
	width: 100%;
	height: 100%;
	display: block;
	*/
}

div[ng-view] {
	width: 100%;
	height: 100%;
}

.hide {
	display: none;
}