/*=================================channel top=================================*/

.ng-scope.platform .container-fluid .channel_table a{
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 10px;
}
/*=================================channel bottom=================================*/
