[ng-controller="DataflowCtrl"] {
  font-size: 1.2em;
  padding: 10px;
}

[ng-controller="DataflowCtrl"] .operate {
  padding: 10px;
  width: 800px;
  background: rgba(255, 255, 255, .1);
  margin: 10px auto;
}
[ng-controller="DataflowCtrl"] .operate .set {
  position: relative;
}
[ng-controller="DataflowCtrl"] .operate .set label {
  width: 50px;
  text-align: left;
  padding: 2px;
  position: absolute;
  top: 10px;
}
[ng-controller="DataflowCtrl"] .operate input {
  width: 500px;
  background: rgba(255, 255, 255, .1);
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  margin: 10px 60px;
  padding: 2px;
}
[ng-controller="DataflowCtrl"] .operate textarea {
  width: 500px;
  background: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, .3);
  margin: 10px 60px;
  padding: 2px;
}
[ng-controller="DataflowCtrl"] .operate .button {
  border: solid 1px rgba(255, 255, 255, .3);
  background: rgba(255, 255, 255, .1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
  padding: 2px 5px;
  cursor: pointer;
  width: 50px;
  text-align: center;
}
[ng-controller="DataflowCtrl"] .operate .button:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
}
[ng-controller="DataflowCtrl"] .operate .button:active {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
}

[ng-controller="DataflowCtrl"] .table {
  padding: 10px;
  background: rgba(0, 0, 0, .1);
}
[ng-controller="DataflowCtrl"] .table label {
  width: 80px;
  text-align: left;
  padding: 2px;
}
[ng-controller="DataflowCtrl"] .table .set {
  background: rgba(0, 0, 0, .2);
  margin-bottom: 10px;
  padding: 5px;
}
[ng-controller="DataflowCtrl"] .table .set .value {
  font-size: 1.2em;
  font-weight: bold;
}
[ng-controller="DataflowCtrl"] .table input {
  border: 1px solid transparent;
  width: 800px;
  background: transparent;
}
[ng-controller="DataflowCtrl"] .table table thead th {
  padding: 5px;
  margin: 1px;
}
[ng-controller="DataflowCtrl"] .table table tbody td {
  padding: 5px;
}

[ng-controller="DataflowCtrl"] .loading {
  position: relative;
}
[ng-controller="DataflowCtrl"] .loading::after {
  position: absolute;
  content: 'loading...';
  text-align: center;
  font-size: 2em;
  line-height: 3em;
  color: #000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .5);
}