<div class="platform">
	<div class="container-fluid  clearfix">
		<div class="content">
			<div class="title">
				<h1>APP管理</h1>
			</div>
			<div class="listview list-container">
				<header class="listview-header media">
					<div>
						<ul class="list-inline  list-mass-actions pull-left">
							<li ng-repeat="item in app_oper">
								<a href="{{item.link}}" class="{{item.icon}}" ng-class="{'clicked': item.tip == 'Folder'}">{{item.tip}}</a>
							</li>
						</ul>
					</div>
				</header>
				<div class="container">
					<div class="file_warpper">
						<h4 class="block-title">{{test_file.Path}}</h4>
						<table class="table tile">
							<tr>
								<th></th>
								<th>檔案大小</th>
								<th>最後修改日期</th>
							</tr>
							<tr ng-repeat="file in test_file.files">
								<td>
									<a href="" class="{{file.icon}}"><span>{{file.name}}</span>
								</td>
								<td>{{file.file_size}}</td>
								<td>{{file.Last_revise}}</td>
							</li>
							</tr>
						</table>
<!-- 						<h4 class="tile-title">{{test_file.Path}}</h4>
						<ul class="listview  narrow sortable ui-sortable">
							<li class="media" ng-repeat="file in test_file.files">
								<a href="" class="{{file.icon}}"><span>{{file.name}}</span></a>
							</li>
						</ul>			 -->			
					</div>
					<div class="upload_wrapper">
						<span class="btn btn-file btn-alt btn-sm">
							<span class="fileupload-new">Upload file</span >
							<input type="file" onchange="angular.element(this).scope().fileNameChange(this)">
						</span>
						<span ng-repeat="file in files">{{file.name}}</span>					
					</div>
				</div>				
			</div>	
		</div>
	</div>
</div>