<div class="platform" ng-controller="appInfoCtrl">
	<div class="container-fluid  clearfix">
		<div class="content">
			<div class="title">
				<h1>APP管理</h1>
			</div>
			<div class="listview list-container">
				<header class="listview-header media">
					<div>
						<ul class="list-inline  list-mass-actions pull-left">
							<li ng-repeat="item in app_oper" >
								<a ng-class="{'clicked':  item.tip == 'Info.'}" href="{{item.link}}" class="{{item.icon}}">{{item.tip}}</a>
							</li>
						</ul>
					</div>
				</header>
			</div>
			<div class="tab-container container">
				<h2>APP Info.</h2>
				<div class="tile">
						<form ng-submit="submit()" name="app_info_form" class="form-horizontal">
							<div class="form-group" ng-repeat="col in app_info">
								<label class="col-md-2 control-label">{{col.name}}
								</label>
								<div class="col-md-9">
									<input type="{{col.type}}" class="form-control" tooltip="{{col.tooltip}}" tooltip-trigger="focus" ng-model-options="{ updateOn: 'blur' }">
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-2 control-label">Description</label>
								<div class="col-md-9">
									<textarea ng-model="app_desc" class="form-control m-b-10" rows="10" maxlength="1000000" tooltip="APP簡述"  tooltip-trigger="focus"></textarea>
								</div>
							</div>		
							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<button type="submit" class="btn m-t-10">Save changes</button>
									<button type="reset" class="btn m-t-10">Reset</button>
								</div>
							</div>		
						</form>
				</div>
			</div>	
		</div>
	</div>
</div>