.ng-scope.platform .title {
  margin: 30px 0px 30px 0px;
  border-bottom: 3px solid #eeeeee;
}

.ng-scope.platform .clearfix {
  overflow: auto;
}
.ng-scope.platform .header {
  margin: 0;
  border-color: transparent;
}
.ng-scope.platform .brand {
  font-size: xx-large;
  color: white;
  margin: 5px 10px;
}
.ng-scope.platform li {
  list-style: none;
  vertical-align: middle;
  text-decoration: none;
}
.ng-scope.platform .currentItem {
  background: #6dcea4;
  color: white !important;
}
.ng-scope.platform .container-fluid{
  padding-left: 30px;
}

.ng-scope.platform .sidebar {
  float: left;
  padding: 0;
}
.ng-scope.platform .sidebar ul {
  padding: 0;
}
.ng-scope.platform .sidebar ul li {
  color: 140, 140, 140, 1;
  font-size: medium;
  cursor: pointer;
}
.ng-scope.platform .sidebar ul li div {
  padding: 10px 25px;
}
.ng-scope.platform .sidebar ul li div:hover {
  background: #6dcea4;
  color: white;
}
.ng-scope.platform .sidebar ul li li div {
  padding: 10px 45px;
}
.ng-scope.platform .sidebar ul a {
  color: #8c8c8c;
  text-decoration: none;
}

.ng-scope.platform .bold_col{
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  text-decoration: underline;  
}

.ng-scope.platform .sql_keyword{
  position: absolute;
  z-index: 999;
  max-height: 350px;
  width: 400px;
  overflow: auto;
  margin-left: 20px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.7);
  top: 170px;
  left: 10px;
} 

.ng-scope.platform .list-mass-actions  li{
  margin-right: 15px;
  width: 100px;
  cursor: pointer;
} 

.ng-scope.platform .list-mass-actions li a{
  background-position: 0% 50%;
  font-size: 14px;
}

.ng-scope.platform .clear{
  height: 20px;
  background: url(../../img/simple/APP/clear.png) 50% 50% no-repeat;
  position: relative;
  top: 15px;
  /*left: 10px;*/
  opacity: 0.9;
  cursor: pointer;
  width: 20px;
}

.ng-scope.platform .search{
  width: 25px;
  height: 25px;
  background: url(../../img/simple/APP/search.png) 50% 50% no-repeat;
  position: relative;
  top: 15px;
  /*left: 10px;*/
  opacity: 0.9;
  cursor: pointer;
}

.ng-scope.platform .appIcon{
  float: left;
  width: 30px;
  background: url(../../img/simple/APP/app.png) 50% 50% no-repeat;
  display: inline-block;
  height: 30px;
}

.ng-scope.platform .sa-list-add, .sa-list-delete, .sa-list-edit{
  margin: 15px;
  cursor: pointer;
}
.ng-scope.platform .clicked{
  text-decoration: none;
  outline: 0;
  background-color: rgba(0,0,0,0.3);
  color: #FFD600;
}
.ng-scope.platform .tile{
  margin-top: 40px;
  padding-top: 15px;
}
.ng-scope.platform .form-group{
  margin-right: 0px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 1024px){
  .ng-scope.platform .form-horizontal .control-label{
    text-align: left ;
    margin: 15px;
  }
}

@media screen and (max-width: 991px){
  .ng-scope.platform .search{
    float: left;
  }

  .ng-scope.platform .sa-list-add, .sa-list-delete, .sa-list-edit{
    float: left;
  }
}
/*=================================sidebar top=================================*/

 .menu_icon{
  background-position: 5% 50%;
}
/*=================================sidebar bottom=================================*/
