.ng-scope.media {
	margin: auto;
	height: 100%;
	background: #888;
	overflow: auto;
	color: #666;

	min-width: 800px;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	position: relative;
	padding-left: 200px;
}

.ng-scope.media .menu {
	position: absolute;
	left: 0px;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.ng-scope.media .menu > div {
	width: 200px;
	text-align: center;
	line-height: 3em;
	background: #eee;
	margin: 1px;
	cursor: pointer;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.ng-scope.media .menu > div.selected {
	background: #cfc;
	color: #9c9;
}
.ng-scope.media .menu > div::hover {
	background: #dfd;
}

.ng-scope.media .studio {
	margin: 30px 50px;
	position: relative;
	display: block;

	background: rgba(255, 255, 255, .9);
	box-shadow: 0px 0px 10px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}
.ng-scope.media video {
	width: 100%;
	border-radius: 5px;
	border: 2px solid rgba(255, 255, 255, .3);
}
.ng-scope.media .studio:hover:after {
	content: '';
	border-radius: 5px;
	border-left: 30px solid #fff;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 0px solid transparent;
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	opacity: .8;
}