<div class="summary">

<div class="header">
</div>


<div class="loginPanel"><div class="container">
	<div class="kamatoLogin">
		<span class="column">
			<input ng-model="account" />
			<label>ACCOUNT(EMAIL)</label>
		</span>
		<span class="column">
			<input ng-model="password" type="password" />
			<label>PASSWORD</label>
		</span>

		<span class="column info">

		</span>

		<div class="login" ng-click="login()">Login</div>
	</div>
	<div class="socialLogin">
		<a class="google login" target="_blank" href="/oauth/google">
			<span class="icon"></span>
			<span class="buttonText">Google</span>
		</a>
		<a class="facebook login" target="_blank" href="/oauth/facebook">
			<span class="icon"></span>
			<span class="buttonText">Facebook</span>
		</a>
	<div>
</div></div>

</div>