<div class="summary">

<div class="loginPanel"><div class="container">
	<div class="kamatoLogin">
		<span class="column">
			<input ng-model="account" />
			<label>ACCOUNT(EMAIL)</label>
		</span>
		<span class="column">
			<input ng-model="password" type="password" />
			<label>PASSWORD</label>
		</span>

		<span class="column info">
			EasyDB UI 環境目前尚未開放使用<br />
			請直接使用 API 操作<br />
		</span>

		<div class="login">Login</div>
	</div>
	<div class="socialLogin">
		<a class="google login" target="_blank" href="/auth/google">
			<span class="icon"></span>
			<span class="buttonText">Google</span>
		</a>
		<a class="facebook login" target="_blank" href="/auth/facebook">
			<span class="icon"></span>
			<span class="buttonText">Facebook</span>
		</a>
	<div>
</div></div>

</div>