<div class="platform" ng-controller="apiCtrl" data-ng-init="init()">
    <div class="container-fluid  clearfix">
        <div class="title">
            <h1>API 管理</h1>
        </div>
        <div ng-show="api_list" class="listview list-container">
            <header class="listview-header media">
                <a tooltip="Create a New API" class="sa-list-add col-md-1" ng-click="create_api_page()"></a>
                <!-- <div ng-show="apiSearch.length>0" class="clear col-md-1" ng-click="cleanSearch()"></div> -->
                <div ng-show="apiSearch.length == 0" class="search col-md-1"></div>
                <div class="col-md-10">
                    <input type="text" class="pull-left input-sm api_search " placeholder="Search API...." ng-model="apiSearch">
                </div>
            </header>
            <div class="table-responsive block-area">
                <table class="table table-bordered tile api_table">
                    <tr>
                        <th ng-repeat="h in api_table_head">{{h.name}}</th>
                    </tr>
                    <tr ng-repeat="item in apiList | filter:apiSearch">
                        <td>
                            <a class="bold_col" ng-click="show_apiReq_chart(item._id)">{{item.name}}</a>
                        </td>
                        <td>
                            <span class="owner_bg">{{item.owner}}</span>
                        </td>
                        <td>
                            <span ng-repeat="c in item.tag">{{c}}</span>
                        </td>
                        <td>
                            {{item.public ? 'Public' : 'Privacy'}}
                            <!-- <select ng-model=""></select> -->
                        </td>
                        <td>
                            <button class="btn btn-alt btn-block" ng-click="del_api(item)">Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="create_api" class="create_api">
            <div class="back" ng-click="return_api_page()">Back</div>
            <h2 class="text-center">新增API</h2>
            <form class="form-horizontal" ng-submit="api_submit()">
                <div class="form-group">
                    <h4 class="col-md-2 control-label">*API Name</h4>
                    <div class="col-md-8">
                        <input type="text" class="form-control create_api_input" ng-model="new_api_name" ng-required="new_api_required">
                    </div>
                </div>
                <!-- API Methods -->
                <div class="form-group">
                    <h4 class="col-md-2 control-label">*REST Methods</h4>
                    <div class="col-md-8">
                        <div ng-repeat="m in rest_methods" class="api_checkboxes">
                            <span>{{m.name}}</span>
                            <input type="checkbox" ng-model="m.checked" ng-change="click_checkbox(rest_methods)" ng-required="m.required">
                        </div>
                    </div>
                </div>
                <!-- 下SQL指令 從Easy_DB取得API-->
                <div class="form-group rest_sql_group" ng-repeat="m in rest_methods" ng-show="m.checked">
                    <h5 class="col-md-2 control-label">*{{m.name}} SQL</h5>
                    <div class="col-md-8">
                        <input type="text" class="form-control sql_input " ng-model="m.sql" placeholder="Typing the SQL Command ..." ng-required="m.checked">
                    </div>
                </div>
                <div class="form-group">
                    <h4 class="col-md-2 control-label">*Public API</h4>
                    <div class="col-md-8">
                        <div ng-click="api_public(true)" class="btn" ng-class="{'public_btn': visible_clicked == true}">Public</div>
                        <div ng-click="api_public(false)" class="btn" ng-class="{'privacy_btn': visible_clicked == false}">Privacy</div>
                    </div>
                </div>
                <!-- API Category Tag -->
                <div class="form-group">
                    <h4 class="col-md-2 control-label">Category Tag</h4>
                    <div class="col-md-8">
                        <input type="text" class="form-control create_api_input" ng-keyup="ca_tag_keyup($event)" ng-model="new_tag" ng-focus="typing_tag= true " ng-blur="typing_tag= false">
                        <!--++  ng-enter="addTag(new_tag)" -->
                        <!-- 						<div>
                                                    <div class="tag" ng-repeat="(key, value) in tags">{{value.name}}</div>
                                                </div> -->
                    </div>
                </div>
                <div class="form-group">
                        <h4 class="col-md-2 control-label">Description</h4>
                        <div class="col-md-8">
                            <textarea class="form-control m-b-10" cols="30" rows="10" ng-model="api_desc"></textarea>
                        </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" class="btn m-t-10" value="Create">
                        <div class="btn m-t-10" ng-click="return_api_page()">Cancel</div>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="req_chart">
            <div class="p-10">
                <button type="submit" class="btn btn-lg btn-alt m-t-10" ng-click="return_api_page()">Back</button>
                <h2>每日Request次數(req/day)</h2>
                <activitychart ng-model="Request" class="main-chart" id="Request"></activitychart>
            </div>
            <div class="block-area">
                <div class="table-responsive">
                    <table class="table table-bordered tile">
                        <tr>
                            <td>Name</td>
                            <td><input type="text" class="input_td" ng-model="api_info.name" ng-blur="rewrite_api_info(api_info, 'name')"></td>                   
                        </tr>
                        <tr>
                            <td>Method</td>
                            <td><span class="sql_tag">{{api_info.method[0]}}</span>{{api_info.config.sql[api_info.method[0]]}}</td>
                        </tr>
                        <tr>
                            <td>Visible</td>
                            <td>
                                <div ng-click="rewrite_api_visible(api_info, true)" class="btn" ng-class="{'public_btn': api_info.public}">Public</div>
                                <div ng-click="rewrite_api_visible(api_info, false)" class="btn" ng-class="{'privacy_btn': !(api_info.public)}">Privacy</div>
                            </td>                   
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td><span ng-repeat="tag in api_info.tag" class="cate_tag">{{tag}}</span></td>                   
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>{{api_info.type}}</td>                   
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td><a href="http://simple.tanpopo.cc/api/{{api_info.owner}}/{{api_info.name}}">http://simple.tanpopo.cc/API/{{api_info.owner}}/{{api_info.name}}</a></td>                   
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><textarea cols="70" rows="5" ng-model="api_info.description" ng-blur="rewrite_api_info(api_info, 'description')"></textarea></td>                   
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div ng-show="api_outer" class="dataflow">
            <div class="create_api">
                <div class="back" ng-click="return_api_page()">Back</div>
                <h2 class="text-center">新增 Outer API</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <h4 class="col-md-2 control-label">*API Name</h4>
                        <div class="col-md-8">
                            <input type="text" class="form-control create_api_input" ng-model="new_api_name" ng-required="new_api_required">
                        </div>
                    </div>
                    <!-- API Methods -->
                    <div class="form-group">
                        <h4 class="col-md-2 control-label">*REST Methods</h4>
                        <div class="col-md-8">
                            <div ng-repeat="m in rest_methods" class="api_checkboxes">
                                <span>{{m.name}}</span>
                                <input type="checkbox" ng-model="m.checked" ng-change="click_checkbox(rest_methods)" ng-required="m.required" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- 下SQL指令 從Easy_DB取得API-->
                    <div class="form-group">
                        <h4 class="col-md-2 control-label">*Public API</h4>
                        <div class="col-md-8">
                            <div ng-click="api_public(true)" class="btn" ng-class="{'public_btn': visible_clicked == true}">Public</div>
                            <div ng-click="api_public(false)" class="btn" ng-class="{'privacy_btn': visible_clicked == false}">Privacy</div>
                        </div>
                    </div>
                    <!-- API Category Tag -->
                    <div class="form-group">
                        <h4 class="col-md-2 control-label">Category Tag</h4>
                        <div class="col-md-8">
                            <input type="text" class="form-control create_api_input" ng-keyup="ca_tag_keyup($event)" ng-model="new_tag" ng-focus="typing_tag= true " ng-blur="typing_tag= false" >
                            <!--++  ng-enter="addTag(new_tag)" -->
                            <!-- 						<div>
                                                <div class="tag" ng-repeat="(key, value) in tags">{{value.name}}</div>
                                            </div> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="col-md-2 control-label">Description</h4>
                        <div class="col-md-8">
                            <textarea class="form-control m-b-10" cols="30" rows="10" ng-model="api_desc"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="operate">
                <div class="set">
                    <label>Source:</label><input ng-model="source" ng-change="updatePath()">
                </div>
                <div class="set">
                    <label>SQL:</label><textarea ng-model="sql" rows=5 ng-change="updatePath()"></textarea>
                </div>
                <button type="submit" class="btn btn-lg btn-alt m-t-10" ng-click="fetch()">查詢</button>
                <button type="submit" class="btn btn-lg btn-alt m-t-10 pull-right" ng-click="api_submit()">建立</button>
            </div>
            <div class="table" ng-class="loading? 'loading': ''">
                <div class="set">
                    <label>JSON API:</label><input ng-model="outer">
                </div>
                <div class="set">
                    Fetch cost <a class="value">{{cost.fetch}}</a> ms and Index cost <a class="value">{{cost.index}}</a> ms
                </div>
                <table>
                    <thead><tr><th ng-repeat="key in keys">{{key}}</th></tr></thead>
                    <tbody>
                        <tr ng-repeat="row in collections">
                            <td ng-repeat="value in row">{{value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="warn_hint" class="warnHint">
        <h3 class="text-center">Please Select Type</h3>
        <div class="close_warn_hint" ng-click="close_warn_hint()"></div>
        <button class="btn btn-alt btn-lg sql_btn" ng-click="api_types('sql')">SQL API</button>
        <button class="btn btn-alt btn-lg outer_btn" ng-click="api_types('outer')">Outer API</button>
        <!-- <button class="btn btn-alt btn-lg exit_btn" ng-click="close_warn_hint()">EXIT</button> -->
    </div>
</div>



<script type="text/ng-template" id="fb_login_permission">
    <div class="auth_info clearfix">

        <!-- //沒有授權要求 -->
        <p class="user_auth no_req" ng-show="auth_array.length == 0">
            There is no permission requests!
        </p>

        <!-- //授權要求清單 -->
        <div ng-hide="auth_array.length == 0">
            <p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
        </div>
    </div>

    <div class="allPermission">
        <ul class="auth_option clearfix">
            <li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth)" ng-class="{'auth_req': click}">{{auth.name}}</li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="GooglePlus_login_permission">
    <div class="auth_info clearfix">

        <!-- //沒有授權要求 -->
        <p class="user_auth no_req" ng-show="auth_array.length == 0">
            There is no permission requests!
        </p>

        <!-- //授權要求清單 -->
        <div ng-hide="auth_array.length == 0">
            <p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
        </div>
    </div>

    <div class="allPermission">
        <ul class="auth_option clearfix">
            <li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth)" ng-class="{'auth_req': click}">{{auth.name}}</li>
        </ul>
    </div>
</script>
<script type="text/ng-template" id="RunKeeper_login_permission">
    <div class="auth_info clearfix">

        <!-- //沒有授權要求 -->
        <p class="user_auth no_req" ng-show="auth_array.length == 0">
            There is no permission requests!
        </p>

        <!-- //授權要求清單 -->
        <div ng-hide="auth_array.length == 0">
            <p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
        </div>
    </div>


    <div class="allPermission">
        <ul class="auth_option clearfix">
            <li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth)" ng-class="{'auth_req': click}">{{auth.name}}</li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="Fitbit_login_permission">
    <div class="auth_info clearfix">

        <!-- //沒有授權要求 -->
        <p class="user_auth no_req" ng-show="auth_array.length == 0">
            There is no permission requests!
        </p>

        <!-- //授權要求清單 -->
        <div ng-hide="auth_array.length == 0">
            <p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
        </div>
    </div>

    <div class="allPermission">
        <ul class="auth_option clearfix">
            <li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth)" ng-class="{'auth_req': click}">
                {{auth.name}}
            </li>
        </ul>

    </div>
</script>

<script type="text/ng-template" id="Jawbone_login_permission">
    <div class="auth_info clearfix">

        <!-- //沒有授權要求 -->
        <p class="user_auth no_req" ng-show="auth_array.length == 0">
            There is no permission requests!
        </p>

        <!-- //授權要求清單 -->
        <div ng-hide="auth_array.length == 0">
            <p class="user_auth auth_reqs">There is {{auth_array.length}} permission requests!</p>
        </div>
    </div>

    <div class="allPermission">
        <ul class="auth_option clearfix">
            <li class="auth_item " ng-repeat="auth in auth_category" ng-click="isAuth(auth)" ng-class="{'auth_req': click}">{{auth.name}}</li>
        </ul>
    </div>
</script>