[class^="fa-"], [class*=" fa-"] {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    text-align: center;
}

.main-chart {
    width: 100%;
    height: 250px;
}

.fai {
    font-size: 18px;
}
