<div class="platform" ng-controller="appActivityCtrl">
	<div class="container-fluid  clearfix">
		<div class="content">
			<div class="title">
				<h1>APP管理</h1>
			</div>
			<div class="listview list-container">
				<header class="listview-header media">
					<div>
						<ul class="list-inline  list-mass-actions pull-left">
							<li ng-repeat="item in app_oper"  >
								<a ng-class="{'clicked': item.tip == 'Activity'}" href="{{item.link}}" class="{{item.icon}}">{{item.tip}}</a>
							</li>
						</ul>
					</div>
				</header>
				<div >
					<div class="p-10">
						<h2>每日Request次數(req/day)</h2>
						<activitychart ng-model="Request" class="main-chart" id="Request"></activitychart>
					</div>				
				</div>
			</div>	
		</div>
	</div>
</div>