<div class="platform" ng-controller="appCtrl" data-ng-init="init()">
    <div class="container-fluid  clearfix">
        <div class="content">
            <div class="title">
                <h1>APPs</h1>
            </div>
            <div ng-hide="create_app" class="listview list-container">
                <header class="listview-header media">
                    <a tooltip="Create a New APP" class="sa-list-add col-md-1" ng-click="change_page()"></a>
                    <div ng-show="appSearch.length>0" class="clear col-md-1" ng-click="cleanSearch()"></div>
                    <div ng-show="appSearch.length == 0" class="search col-md-1"></div>
                    <div class="col-md-10">
                        <input type="text" class="pull-left input-sm app_search " placeholder="Search APP...." ng-model="appSearch.name">
                    </div>
                </header>
                <div>
                    <a href="#/platform/APP_folder" class="media appList" ng-repeat="item in appList | filter:appSearch">
                        <div class="appIcon"></div>
                        <div class="appName">{{item.name}}</div>
                        <div class="btn btn-alt pull-right" ng-click="$event.preventDefault(); del_app(item);">Delete</div>
                    </a>
                </div>
            </div>
            <div ng-show="create_app" class="create_app">
                <h2 class="text-center">新增APP</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <h3 class="col-md-2 control-label">APP Name</h3>
                        <div class="col-md-8">
                            <input type="text" class="form-control create_app_input" ng-model="new_app_name" ng-required="new_app_required">
                        </div>
                        <div class="col-md-offset-2 col-md-4">
                            <button type="submit" class="btn m-t-10" ng-click="new_app()">Create</button>
                            <button type="submit" class="btn m-t-10" ng-click="change_page()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>